/* Generieke stijlen, waarschijnlijk hoeven jullie deze niet aan te passen */

@layer styleguide {
  html, body {
    scroll-behavior: smooth;
  }
  body {
    max-width: 40em;
    margin: auto;
    background: #fff;
  }
  nav:not([class]),
  h1:not([class]),
  h2:not([class]),
  p:not([class]),
  figcaption:not([class]) {
    font-family: sans-serif;
    line-height: 1.5;
  }
  p:not([class]) > code:not([class]) {
    display: block;
  }
  nav:not([class]) > a {
    padding: .5em;
    border: 1px solid;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  figure:not([class]) {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    > code {
      display: grid;
      place-items: center;
      border-radius: 50%;
      aspect-ratio: 1;
      background: #ccc;
    }
  }
}